._lh-1 {
  line-height: 1;
}
._ls-0 {
  letter-spacing: 0;
}
._w-full {
  width: 100%;
}

._w-auto {
  width: auto;
}
._fwb {
  font-weight: bold;
}
.relative {
  position: relative;
}
.upper-case {
  text-transform: uppercase;
}
.absolute-xy {
  @include position(xy);
}
.absolute-x {
  @include position(x);
}
.absolute-y {
  @include position(y);
}