._lh-1 {
  line-height: 1;
}
._ls-0 {
  letter-spacing: 0;
}
._w-full {
  width: 100%;
}

._w-auto {
  width: auto;
}
._fwb {
  font-weight: bold;
}
._lh-2 {
  line-height: 2;
}
._lh-3 {
  line-height: 3;
}
._lh-25 {
  line-height: 2.5;
}

._ls-100 {
  letter-spacing: ls(100);
}
.relative {
  position: relative;
}
.upper-case {
  text-transform: uppercase;
}

.-yuuai {
  @include font(Yuuai);
}
.absolute-xy {
  @include position(xy);
}
.absolute-x {
  @include position(x);
}
.absolute-y {
  @include position(y);
}