.contact {

  &__inner {
    padding: 48px 0 32px;
  }

  &__bg {
    position: relative;
    &-img {
      @include breakpoint-down(ml) {
        height: 70vh;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  &__box {
    @include position();
    color: #fff;
    text-align: center;
    @include breakpoint-down(ml) {
      width: 80%;
    }
  }

  &__title {
    font-size: rem(32);
    font-weight: 700;
  }

  &__text {
    margin-top: 24px;
  }

  &__link {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    border-radius: 48px;
    border: 1px solid #fff;
    width: 100%;
    max-width: 418px;
  }
}