.g-nav {
  @include breakpoint-down(ml) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    @include breakpoint-down(lg) {
      justify-content: center;
      margin-top: 16px;
    }
  }

  &__item {
    @include breakpoint-down(lg) {
      text-align: center;
    }
  }

  &__link {
    padding: 4px 16px;
    font-weight: 700;

  }
}

.-gray-out {
  color: #979797;
  pointer-events: none;
}
