.hero {

  width: 90%;
  margin: 0 auto;
  position: relative;
  @include breakpoint-down(ml) {
    width: 100%;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    max-width: 560px;
  }

  &__img {
    @include breakpoint-down(ml) {
      height: 50vh;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__text-img,
  &__text{
    @include position(y);
    left: 8%;
    width: auto;
    @include breakpoint-down(md){
      width: 75%;
      left: 2%;
    }
  }

  &__text {
    font-size: rem(40);
    color: #fff;
    font-weight: 700;
  }

  &__act {
    position: absolute;
    right: -1%;
    bottom: -5%;
    width: 80%;
    @include breakpoint-down(ml) {
      width: 100%;
      right: 0;
      height: 25vh;
      object-fit: cover;
      object-position: right;
    }
  }


}