.set-img {
  position: absolute;
  right: 0;
  top: -72px;
  @include breakpoint-down(md) {
    //display: none;
    width: 160px;
    top: 0;
  }
}

.info-box {
  background-image: url(./img/bg_01.gif);
  background-repeat: no-repeat;

  &__women {
    width: 182px;
    position: absolute;
    left: 0;
    top: -1px;
    @include breakpoint-down(md) {
      display: none;
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.category-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 50%;
  @include breakpoint-down(md) {
    width: 100%;
  }

  &__link {
    text-decoration: underline;
    margin-top: 12px;
    margin-left: 24px;
    font-weight: 700;
    @include breakpoint-down(md) {
      margin-top: 16px;
      margin-right: 8px;
      margin-left: 8px;
    }
  }
}

.-border {
  border-bottom: 1px solid color(main);
}

.buy-button {
  width: 100%;
  max-width: 450px;

  &_02 {
    @include breakpoint-down(ml) {
      width: 215px;
    }
  }
}

.border-box {
  position: relative;
  @include breakpoint-down(md) {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    border-left: 2px dotted #333;
    position: absolute;
    top: 0;
    transform: rotate(-35deg);
    width: 2px;
    height: 64px;
  }

  &::after {
    transform: rotate(35deg);
    right: 0;
  }
}

.hamburger-nav {
  background-color: #fff;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 85px;
  left: 0;
 visibility: hidden;
  transform: translateX(100%);
  transition: transform .4s, visibility .4s;

  &.-ham-active {
    visibility: visible;
    transform: translateX(0);
  }
  @include breakpoint(ml) {
    display: none;
  }

  &__inner {
    padding: 12px;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    @include breakpoint(sm) {
      flex-basis: 50%;
      max-width: 50%;
    }
    max-width: 100%;
    flex-basis: 100%;
    border-bottom: 1px solid #212121;
  }

  &__link {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}