.return-button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: inline-block;
  width: auto;
  z-index: z-index(return-button);

  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;

  &.-active {
    opacity: 1;
    visibility: visible;
  }
}