.top-box {

  &__inner {
    display: flex;
    align-items: center;
  }

  &__left {
    width: 40%;
    padding-right: 48px;
  }

  &__right {
    width: 55%;
    margin-left: auto;
  }

  &__text {
    padding: 24px;
    > p {
      line-height: 2;
    }
  }
}