.l-footer {
  width: 100%;
  padding: 32px 0;
  border-top: 2px solid #ddd;
  background-color: #f8f8f8;
  &__inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__address {
    margin-left: 24px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    margin-left: auto;
    text-align: right;
  }

  &__copy {
    font-size: rem(14);
  }
}
