.l-header {
  width: 100%;
  &__inner {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 24px 0;
  }

  &__left {

  }

  &__right {
    margin-left: auto;
  }
}
