<footer class="l-footer" role="contentinfo">
    <div class="container">
        <div class="l-footer__inner">
            <div class="l-footer__left">
                <h1 class="l-footer__logo"><a href=""><img src="<%- meta.path %>" alt="株式会社マルマサ水産"></a></h1>
                <address><p>〒737-1215</p><p>広島県呉市音戸町早瀬1丁目34-32</p></address>
            </div>
            <div class="l-footer__right">
                <a href="<%- meta.path %>">プライバシーポリシー</a>
                <p><small>©︎ Copyright Marumasa Suisan All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</footer>
<script src="<%- meta.path %>main.js"></script>
</body>
</html>