<section class="l-section">
    <div class="l-section__inner">
        <div class="container">
            <div class="contact">
                <div class="contact__inner">
                    <div class="contact__bg">
                        <img class="contact__bg-img" src="<%- meta.path %>img/contact_bg.png" alt="">
                        <div class="contact__box">
                            <h2 class="contact__title">お問い合わせ</h2>
                            <p class="contact__text">ご質問・ご不明な点はお電話（0823-56-0947）かメールで<br>お気軽にお問い合わせください。</p>
                            <a href="" class="contact__link">メールでのお問い合わせ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<footer class="l-footer _mt-32" role="contentinfo">
    <div class="l-footer__inner">
        <div class="l-footer__left">
            <h1 class="l-footer__logo"><a href=""><img src="<%- meta.path %>img/logo_black.png" alt="株式会社マルマサ水産"></a>
            </h1>
            <address class="l-footer__address"><p>〒737-1215</p>
                <p>広島県呉市音戸町早瀬1丁目34-32</p></address>
        </div>
        <div class="l-footer__right">
            <a href="<%- meta.path %>">プライバシーポリシー</a>
            <p class="l-footer__copy"><small>©︎ Copyright Marumasa Suisan All Rights Reserved.</small></p>
        </div>
    </div>
</footer>
<script src="<%- meta.path %>main.js"></script>
</body>
</html>