<%
const meta = {
    title: '配送について',
    type: "delivery",
    path: '../',
    description: "アバウトの説明が入ります。"
}
%>

<%- include(`${meta.path}@include/_header`, {meta: meta}) %>


<main class="l-main" role="main">
   <h2><%- meta.title %></h2>
    <a href="<%- meta.path %>">トップへ戻る</a>
</main>

<%- include(`${meta.path}@include/_footer`, {meta: meta}) %>